<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Your order has been completed</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div>
            <h1>
                Product number: <span th:text="${product.id}"> </span>
            </h1>
          
            <p>
                Seller name: <span th:text="${product.productOwner.name}"></span>
                <br>
                Seller email: <span th:text="${product.productOwner.email}"></span>
            </p>
          	
          	<h3>
          	
          	Details:
          	</h3>
          	
          	<p>
          		Name: <span th:text="${product.name}"></span>
          	</p>
          	
          	<p>
          		Price: <span th:text="${product.price}"></span>
          	</p>
            
        </div>
    </body>
</html>